<%= form_for(@challenge) do |f| %>
  <% if @challenge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@challenge.errors.count, "error") %> prohibited this challenge from being saved:</h2>

      <ul>
      <% @challenge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description, placeholder: 'A description of the Challenge' %>
  </div>
  <div class="field">
    <%= f.label :terms %><br>
    <%= f.text_area :terms %>
  </div>
  <div class="field">
    <%= f.label :requirement %><br>
    <%= f.text_area :requirement %>
  </div>
  <div class="field">
    <%= f.label :deadline %><br>
    <%= f.datetime_select :deadline %>
  </div>
  <div class="field">
    <%= f.label :payoff %><br>
    <%= f.number_field :payoff %>
  </div>
  <div class="field">
    <%= f.label :Is_the_challenge_open? %><br>
    <%= f.check_box :open_flag %>
  </div>
  <div class="field">
    <%= f.label :minimum_num_of_participants %><br>
    <%= f.number_field :min_num, in: 1..100 %>
  </div>
  <div class="field">
    <%= f.label :maximum_num_of_participants %><br>
    <%= f.number_field :max_num, in: 1..10000 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
