<% @page_header = "#{@challenge.name}" %>
<div class="challenge-main">

</div>

<% if current_user == @challenge.creator %>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<% end %>
<%= link_to 'Back', challenges_path %>
