$main-color: black;
$main-font: 'Lobster', sans-serif;
$head-font: 'Raleway', sans-serif;
$main-bgcolor: lighten($navbar-default-bg, 40%);

@mixin border-radius($radius...){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin animate($args...){
  -webkit-animation: $args;
  -moz-animation: $args;
  -ms-animation: $args;
  -o-animation: $args;
  animation: $args;
}

@mixin keyframes($name, $color1, $color2){
  @-webkit-keyframes $name{
    from {background-color: $color1;}
    to {background-color: $color2;}
  }
  @-moz-keyframes $name{
    from {background-color: $color1;}
    to {background-color: $color2;}
  }
  @-ms-keyframes $name{
    from {background-color: $color1;}
    to {background-color: $color2;}
  }
  @-o-keyframes $name{
    from {background-color: $color1;}
    to {background-color: $color2;}
  }
  @keyframes $name{
    from {background-color: $color1;}
    to {background-color: $color2;}
  }
}
