.challenge-item{
  border-top: 2px solid lighten($navbar-default-bg, 10%);
  opacity: 100%;
  padding-top: 2%;
  margin: 0 0 1%;
  background-color: lighten($main-bgcolor, 30%);

  .challenge-name{
    font-family: Raleway, 'sans-serif';
    font-size: 1.5em;
  }

  .challenge-info{
    padding-left: 2%;
  }

  .challenge-buttons{
    margin: 1% 0;
    text-align: center;
    background-color: darken($main-bgcolor, 20%);
    border: 1px solid darken($main-bgcolor, 30%);
  }
}
