<footer class="navbar navbar-default" role="navigation">
  <ul class="nav navbar-nav list">

    <li><%= link_to "About Us",         about_path %></li>
    <li><%= link_to "FAQ",              faq_path %></li>
    <li><%= link_to "Contact Us",       contact_path %></li>
    <li><%= link_to "Policy",           policy_path %></li>

  </ul>
</footer>
