<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title ? "Yakyik | #{@page_title} " : "Yakyik" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render '/layouts/shim' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="outer-wrapper">

    <%= render 'layouts/navbar' %>
    <% if @page_header %>
      <%= render 'layouts/header' %>
    <% end %>

    <div class="inner-wrapper">

      <%= yield %>

    </div>

    <%= render 'layouts/footer' %>

  </div>

</body>
</html>
